.socios{
    background-color: #000;
}

.titulosocios{
    margin-left: 7rem;
}

/* Título: Atendemos em todo Brasil */
.title-container {
    text-align: left;
  }
  
  .atendemos-title {
    font-size: 2.5rem;
    font-weight: normal;
    color: #000;
  }
  
  .brasil-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin-top: -10px; /* Para aproximar os textos */
  }
  
  /* Texto em letras maiores */
  .text-large {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: left;
  }
  
  /* Missão, Visão e Valores */
  .mission-row {
    justify-content: space-between;
  }
  
  .mission-col {
    text-align: left;
    max-width: 400px;
  }
  
  .icon-container {
    margin-bottom: 10px;
  }
  
  .divider {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 10px auto;
  }

  .mvvsection{
    margin-bottom: 3rem;
  }

  /* Equipe Section */
.equipe-section {
    background-color: #000;
    color: #fff;
    height: 408px;
  }
  
  .equipe-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-left: -1rem;
  }
  
  .equipe-text {
    padding: 0 2rem;
  }
  
  .equipe-text h2 {
    font-size: 2rem;
  }
  
  .equipe-text p {
    font-size: 1.2rem;
  }
  
  /* Diversidade Section */
  .diversidade-section {
    background-color: #fff;
    color: #000;
    padding: 3rem 0;
  }
  
  .diversidade-text p {
    font-size: 1.2rem;
  }
  
  .diversidade-text .destaque {
    color: #3d7cc9;
    font-weight: bold;
  }
  
  /* Gráficos */
  .grafico-container {
    position: relative;
    text-align: center;
  }
  
  .grafico {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 30px solid #eaeaea;
    border-top: 30px solid #3d7cc9;
    transform: rotate(-90deg);
    margin: 0 auto;
  }
  
  .grafico-percentual {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -90%);
    color: #3d7cc9;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .grafico-label {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  
  /* Responsividade */
  @media (max-width: 768px) {
    .atendemos-title,
    .brasil-title {
      font-size: 2rem;
    }
  
    .text-large {
      font-size: 1rem;
    }
  
    .mission-col {
      max-width: 100%;
    }
  }
  