.footer-container {
    background-color: white;
    min-height: 25vh !important; /* Ocupa 30% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #c9c9c9 ;
    color: black;
  }
  
  .footer-content {
    min-height: 100%; 
    padding-top: 1rem !important;
    padding-right: 1rem !important;
    padding-left:  1rem !important;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    max-width: 28%; /* Aumenta a imagem para 40% de seu tamanho */
    margin-bottom: 0.5rem;
  }

  .footer-no-margin {
    margin: 0 !important;
  }
  
  .footer-no-padding {
    padding: 0 !important;
  }

  .footer-center {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-weight: 300 !important;
    font-size: 0.95rem;
  }

  .footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: start;  
    gap: 1rem;  
  }

  .footerHighlight {
    color: #ff6600 !important;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .footer-nav a:hover {
    color: #ff6600;
  }
  
  
  
  .footer-copyright {
    text-align: right !important;
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 0.9rem;
    color: #000;
  }

  .footer-copyright a{
    font-size: 1.15rem !important;
    font-weight: 200 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 48%;
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .footer-left {
      align-items: center !important;
      justify-content: center !important;
    }

    .footer-copyright {
      align-items: center;
      justify-content: center;
    }

    .footer-copyright a {
      width: 100%;
      margin-bottom: 3rem !important;
      padding-top: 0 !important;
    }

    .footer-logo {
      max-width: 30% !important;
      margin-bottom: 2rem !important;
    }
  }