.page-header-about {
  background-color: #000000;
  background-image: url("../images/quemsomosImg/header_quem-somos-1.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 5rem 0 !important;
}

.all {
  background-color: #fff;
}

.socios {
  background-color: #000;
}

.titulosocios {
  margin-left: 1rem;
  font-size: 2.6rem;
}
.imagemfundo {
  width: 100% !important;
}
/* Título: Atendemos em todo Brasil */
.title-container {
  text-align: left;
  font-size: 42px !important;
  line-height: 1.1em !important;
}

.atendemos-title {
  font-weight: 300;
  color: #000;
}

.brasil-title {
  font-weight: bold;
  color: #000;
  margin-top: -10px;
}

.atendimento-row {
  margin-top: 2rem !important;
}

/* Missão, Visão e Valores */
.mission-row {
  justify-content: space-between;
}

.mission-col {
  text-align: left;
  max-width: 400px;
}

.pilares-sconceito-title {
  margin-top: 1rem;
  font-weight: 700;
  color: #000;
  font-size: 1.55rem;
  letter-spacing: 0.4px;
}

.pilares-sconceito-text {
  font-size: 0.9rem;
  color: #000;
  margin-top: 1rem;
}

.icon-container {
  margin-bottom: 10px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 10px auto;
}

.mvvsection {
  margin-bottom: 4rem;
}

/* Equipe Section */
.equipe-section {
  background-color: #000;
  color: #fff;
}

.equipe-image {
  background-image: url("../images/quemsomosImg/Backgroundesqerda.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
  height: 100%;
  width: 100%;
  display: block;
}

.equipe-image-col {
  height: 100% !important;
}

.equipe-text {
  padding: 5rem 0 !important;
  padding-left: 16rem !important;
  padding-right: 1rem !important;
  width: 41% !important;
}

.equipe-text h2 {
  font-size: 42px;
}

.equipe-text p {
  font-size: 20px !important;
  font-weight: 300 !important;
  letter-spacing: 0.4px;
}

.equipe-text span {
  font-weight: 700 !important;
}

/* Diversidade Section */
.diversidade-section {
  background-color: #f9f9f9;
  color: #000;
  padding: 3rem 0;
}

.diversidade-row {
  min-height: 55vh !important;
}

.diversidade-text p {
  font-size: 22px !important;
  font-weight: 300 !important;
  margin-right: 1rem;
  letter-spacing: 0.4px;
}

.diversidade-text .destaque {
  color: #3d7cc9;
  font-weight: 700;
}

.chart-container {
  width: 100% !important;
  display: flex;
  flex-direction: column; /* Para garantir que a legenda fique abaixo */
  align-items: center;
  overflow: hidden;
  gap: 1rem;
}

.chart-images {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Espaçamento entre as imagens */
  width: 100%;
}

.chart-legend {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4rem !important;
  width: 100%;
  font-size: 0.75rem !important;
}

.grafico-img-socios {
  width: 18rem !important;
  height: 100% !important;
}

.grafico-img-colaboradores {
  width: 16.5rem !important;
}

/* Gráficos */
.grafico-container {
  position: relative;
  text-align: center;
}

.grafico {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 30px solid #eaeaea;
  border-top: 30px solid #3d7cc9;
  transform: rotate(-90deg);
  margin: 0 auto;
}

.grafico-percentual {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -90%);
  color: #3d7cc9;
  font-weight: bold;
  font-size: 2rem;
}

.grafico-label {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.team-member {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem !important;
}

.team-member .description {
  text-align: left !important;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
}

.team-member img {
  transition: scale 0.3s ease !important;
  scale: 100%;
  border-radius: 30px;
}

.team-member img:hover {
  scale: 105%;
}

.intro-section-about {
  padding: 0 !important;
  padding-top: 4rem !important;
  padding-bottom: 5rem !important;
  background-image: url("../images/quemsomosImg/BackgroundEndsession.png");
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.intro-section-about img {
  border-radius: 15px;
}

.intro-section-about h2,
p {
  padding: 0;
  margin: 0;
  word-spacing: 0.1rem;
}

.intro-section-about h2 {
  color: black;
  font-size: 2.7rem !important;
  margin-bottom: 0.8rem !important;
  margin-top: 3.5rem !important;
}

.intro-section-about p {
  line-height: 2rem !important;
  padding-right: 1rem !important;
}

@media (max-width: 1640px) {
  .equipe-image {
    background-repeat: repeat;
    background-size: contain;
  }

  .equipe-text {
    padding: 3rem 0 !important;
    padding-left: 4rem !important;
    padding-right: 1rem !important;
    width: 50% !important;
  }

}

/* Responsividade */
@media (max-width: 768px) {
  .atendemos-title,
  .brasil-title {
    font-size: 2rem;
  }

  .text-large {
    font-size: 1rem;
  }

  .equipe-text {
    width: 100% !important;
  }

  .mission-col {
    max-width: 100%;
    text-align: center !important;
    margin: 3rem 0;
  }

  .page-header-about {
    position: relative; /* Garante que o pseudo-elemento seja posicionado corretamente */
    padding: 2.5rem 0 !important;
    background-size: auto 100%;
  }

  .page-header-about::before {
    content: ""; /* Necessário para exibir o elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: 1; /* Garante que o overlay fique sobre a imagem */
  }

  .page-header-about * {
    position: relative; /* Garante que o conteúdo fique acima do overlay */
    z-index: 2;
  }

  .page-header-about h1 {
    font-size: 2rem !important;
    padding-left: 0.5rem !important;
  }

  .intro-text-container {
    background-color: white !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .intro-text-container h2 {
    margin-top: 1rem !important;
    font-size: 2rem !important;
  }

  .intro-section-about img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  .intro-section-about {
    padding-top: 4rem !important;
    padding-bottom: 13rem !important;
    background-position: -643px bottom;
    background-repeat: no-repeat;
    background-size: auto 16%;
  }

  .atendimento-row {
    padding: 0 1rem !important;
  }

  .equipe-text {
    padding: 3rem 2rem !important;
  }

  /* Diversidade Section */
  .diversidade-section {
    background-color: #f9f9f9;
    color: #000;
    padding: 3rem 2rem;
  }

  .diversidade-row {
    min-height: 55vh !important;
  }

  .diversidade-text p {
    font-size: 18px !important;
    font-weight: 300 !important;
    margin-right: 1rem;
    letter-spacing: 0.4px;
  }

  .diversidade-text .destaque {
    color: #3d7cc9;
    font-weight: 700;
  }

  .chart-images {
    flex-direction: column;
    gap: 4rem; /* Espaçamento entre as imagens */
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .chart-container {
    margin-top: 3rem !important;
  }

  .grafico-img-socios {
    width: 18rem !important;
    height: 100% !important;
  }
  .grafico-img-colaboradores {
    width: 17.5rem !important;
  }

  .chart-legend {
    padding-top: 1.5rem !important;
    flex-direction: column;
    margin: 0 !important;
  }
}
