@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", serif !important;
  background-color: #f5f5f5;
  letter-spacing: 0.4px !important;
  overflow-x: hidden !important;
}

.navbar-logo {
  width: 155px !important;
  margin-left: 4rem !important;
  pointer-events: none !important;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-social-navbar {
  background-color: white;
  display: inline-flex;
  width: 2.5rem !important;
  height: 2.5rem !important;
  justify-content: center !important;
  align-items: center !important;
  transition: transform 0.3s ease, color 0.3s ease !important;
}

.transition-navbar {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar-content {
  margin-right: 6.5rem !important;
}

.toggle-navbar-btn {
  color: white;
  background: transparent !important;
  position: fixed;
  top: 2.25rem;
  right: 2rem;
  z-index: 1060;
  padding-right: 2rem !important;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease;
}

.toggle-navbar-btn:hover {
  transform: scale(1.1);
}

.btn-social-navbar:hover {
  background-color: rgb(195, 195, 195);
  transform: translateY(-5px) !important;
}

.gptw-selo-sidebar {
  width: 150px;
  height: auto;
  bottom: 2rem;
  right: 0;
  position: fixed;
}

.btn-social-sidebar {
  background-color: black;
  color: white !important;
  display: inline-flex;
  width: 2.5rem !important;
  height: 2.5rem !important;
  justify-content: center !important;
  align-items: center !important;
}

.toggle-btn-sidebar {
  background: transparent !important;
  border: none !important;
}

.navbar-social-sidebar {
  padding-top: 3rem;
  padding-left: 1rem;
}

.navbar-sidebar-content {
  padding: 2rem;
  padding-top: 0;
  padding-bottom: 4rem;
}

.sidebar-content-item {
  color: black;
  font-size: 1.1rem !important;
}

.sidebar-content-item:hover {
  color: #ff6600;
}

/* Sidebar Transitions */
.sidebar-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 495px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(100%);
  z-index: 1100 !important;
}

.sidebar-content.show {
  opacity: 1;
  transform: translateX(0%);
}

/* Overlay */
.bg-dark {
  background-color: rgba(
    0,
    0,
    0,
    0.741
  ) !important; /* Fundo escuro com transparência */
  transition: opacity 0.3s ease; /* Transição suave ao abrir/fechar */
}

/* Fade-in Effect */
.fade-in {
  transform: translateX(0); /* Aparece na tela */
  opacity: 1;
}

/* Fade-out Effect */
.fade-out {
  transform: translateX(100%); /* Sai da tela */
  opacity: 0;
}

.grafismo-1-img-home {
  width: 100%;
  height: "auto";
}

.intro-home-col {
  padding: 5rem;
  padding-right: 7rem;
}

.intro-home-border {
  border-left: 1px solid #505050;
  padding-left: 1rem;
}

.intro-home-text {
  font-size: 1.3rem;
  width: 90%;
  color: #adadad;
}

.intro-home-text strong {
  color: white;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 98vh;
  overflow: hidden;
  margin-top: -5rem;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
  z-index: -1;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.selo-gptw-container-home {
  height: 100% !important;
  width: auto !important;
  display: flex;
  align-items: start;
  padding-top: 5rem !important;
}

.scroll-button {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(21, 21, 21);
  border: 2px solid rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  animation: fade 1.5s infinite alternate;
  z-index: 3;
}

.icon {
  color: white;
  font-size: 1.6rem;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.hero-title {
  font-size: 4.2rem; /* Aumentei para se aproximar mais do print */
  font-weight: 700 !important; /* Negrito forte */
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 3rem;
}

.hero-subtitle {
  font-size: 1.4rem;
  font-weight: 200;
  color: white;
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.hero-subtitle::before {
  content: "";
  display: inline-block;
  width: 90px; /* Ajuste o tamanho conforme necessário */
  height: 1px;
  background-color: white;
}

.hero-subtitle-container {
  display: flex;
  gap: 2rem !important;
  align-items: center;
}

.hero-subtitle-container h1,
h4 {
  display: inline;
}

.hero-main-text {
  color: #ff7f30;
  font-family: "Poppins", Sans-serif;
  font-size: 65px;
  font-weight: 200;
  text-transform: uppercase;
}

.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px; /* Ajuste a altura conforme necessário */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.carousel-container {
  text-align: center;
  background: black;
  padding: 20px 0;
}

.carousel-img {
  width: 100%;
  height: auto;
  display: block;
  min-width: 450px !important;
}

.carousel-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  padding-top: 7rem;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: brightness(0.7); /* Escurece a imagem */
}

.carousel-text {
  position: absolute;
  bottom: 0px;
  left: 15px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.cases-swiper {
  width: 100% !important;
  margin-top: 1.5rem;
  padding: 5rem 0 !important;
  padding-top: 0 !important;
}

/* Personaliza os dots (opcional) */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #fff !important; /* Cor dos dots */
  opacity: 0.4 !important;
  transition: 0.3s !important;
}

/* Altera a aparência do dot ativo */
.swiper-pagination-bullet-active {
  background-color: #ff6600 !important; /* Cor do dot ativo */
  opacity: 1 !important;
}

.btn-with-icon-animation {
  padding-top: 1rem !important;
  font-size: 1.7rem !important;
  font-weight: 200 !important;
  color: #f5f5f5 !important;
  transition: transform 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-with-icon-animation:hover svg {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

.btn-with-icon-animation:hover {
  color: #adadad !important;
}

.wtmc-title {
  font-weight: 700;
  color: white;
}

.wtmc-description {
  font-size: 1.2rem;
  color: #f5f5f5;
  text-align: justify;
  font-weight: 300;
  width: 89%;
  margin: 0;
  padding: 0;
  padding: 1rem 0;
}

.wtmc-card {
  min-height: 350px !important;
  width: 89% !important;
  display: flex;
  align-items: end;
  background-image: url("images/homeImg/wtmc-bkg-card.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wtmc-card.about-bkg {
  background-image: url("images/homeImg/wtmc-about-card.jpg") !important;
}

.wtmc-btn {
  justify-content: start !important;
  font-weight: 700 !important;
  padding: 2rem;
  padding-bottom: 2.5rem !important;
}

.wtmc-section {
  padding: 7rem 0 !important;
  padding-bottom: 2rem !important;
  background-image: url("images/homeImg/Grupo-12.png");
  background-position: 0 600px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Estilização do carousel */
.brand-carousel {
  position: relative;
  padding: 4.7rem 1rem !important;
  background-color: #f2f2f2 !important;
}

/* Estilização dos botões de navegação */
.brand-carousel .swiper-button-prev,
.brand-carousel .swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: #000; /* Cor dos botões */
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-carousel .swiper-button-prev::after,
.brand-carousel .swiper-button-next::after {
  font-size: 16px; /* Reduz o tamanho do ícone */
  font-weight: bold;
}

/* Posição dos botões de navegação */
.brand-carousel .swiper-button-prev {
  background-color: transparent;
  color: #000;
  left: -10px;
}

.brand-carousel .swiper-button-next {
  background-color: transparent;
  color: #000;
  right: -10px;
}

/* Estilização da paginação */
.brand-carousel .swiper-pagination {
  position: relative;
  margin-top: 10px; /* Ajusta a posição para ficar abaixo do carousel */
}

.brand-carousel .swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  background-color: #000 !important; /* Cor dos bullets */
  opacity: 0.5 !important;
  transition: opacity 0.3s !important;
}

.brand-carousel .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #000 !important; /* Cor do bullet ativo */
}

.btn-clients {
  color: #000 !important;
  font-size: 1.3rem !important;
  text-transform: uppercase !important;
  font-weight: 300 !important;
}

.btn-clients:hover {
  color: #636363 !important;
}

.default-title {
  font-weight: 700;
}

.blog-home-title {
  min-height: 5rem;
  display: block;
  text-decoration: none;
  color: white !important;
  font-weight: 200;
  font-size: 1.1rem;
  padding-right: 0.7rem;
  transition: all ease-in 200ms;
}

.blog-home-title:hover {
  opacity: 0.8;
}

.blog-title {
  margin-top: 2rem !important;
}

.blog-post-body {
  padding: 2rem 0 !important;
}

.btn-blog {
  font-size: 1.4rem !important;
  text-transform: uppercase !important;
  font-weight: 300 !important;
}

.contact-option-title {
  color: #ff6600 !important;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.2rem !important;
}

.contact-option-description {
  font-weight: 300;
  margin-bottom: 3rem;
  font-size: 1.2rem !important;
}

.text-justify {
  text-align: justify !important;
}

.text-large {
  font-size: 20px;
  line-height: 1.8;
  text-align: left;
  color: #000;
  font-weight: 300;
}

.bg-white-default {
  background-color: #f9f9f9 !important;
}

.page-header-services {
  background-color: #000000;
  background-image: url("images/quemsomosImg/header_quem-somos-1.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  padding: 4.5rem 0 !important;
}

.projetar-contruir-section {
  padding-bottom: 5rem !important;
}

.intro-container-services-h1 {
  padding-top: 1.5rem;
  padding-left: 0.4rem;
}

.intro-container-services p {
  padding-right: 1rem !important;
  padding-bottom: 1rem !important;
}

.intro-container-services img {
  border-radius: 15px;
}

.project-services-container {
  background-color: black;
  color: white;
  padding: 2rem;
  width: 95%;
  left: 2rem;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  top: -130px;
  position: relative;
  border-radius: 15px;
}

.project-services-container h1 {
  padding-bottom: 1rem;
}

.project-services-container p {
  margin-bottom: 1rem !important;
  word-spacing: 0.03rem !important;
  font-size: 18px;
}

.projetos-section {
  background-image: url("images/servicosImg/Background.png");
  background-size: cover;
  background-position: -50px 2px;
  background-repeat: no-repeat;
  padding: 5rem 2rem;
  max-height: 95vh !important;
}

.destaques-section {
  background-image: url("images/servicosImg/Backgroundblack.png");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  height: 95vh !important;
  display: flex;
  justify-content: start;
  align-items: center;
}

.destaques-section .item-list {
  font-size: 1.15rem !important;
  font-weight: 200 !important;
}

.obras-section {
  background-image: url("images/servicosImg/bgsession2.png"); /* Substitua pelo caminho correto */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 100vh;
  padding: 5rem 0;
  padding-bottom: 4rem;
}

.obras-section h1 {
  margin-bottom: 1rem !important;
  font-size: 2.7rem !important;
}

.obras-section p {
  font-size: 19px !important;
  padding-right: 3rem !important;
  word-spacing: 0.03rem !important;
  padding-bottom: 1rem !important;
}

.obras-section img {
  border-radius: 15px !important;
}

.planejamento-section {
  background-image: url("images/servicosImg/finalimg.png");
  background-size: cover;
  background-position: center;
  height: 95vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

.planejamento-section .item-list {
  font-size: 1.15rem !important;
  font-weight: 200 !important;
}

.page-header-client {
  background-color: #000000;
  background-image: url("images/clientesImg/header_clientes_1-1.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 5rem 0 !important;
}

.client-collumn {
  width: "250px" !important;
}

.contato-info-container {
  min-height: 70vh;
  margin-top: 4rem;
  padding: 2rem 3rem;
  margin-bottom: 4rem;
}

.contato-info-container h1 {
  margin-top: 1rem;
}

.contato-info-container h5 {
  margin-top: 2rem;
}

.contato-info-container p {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  font-size: 1.1rem !important;
}

.contact-option-description a {
  color: white !important;
  transition: transform 0.3s ease;
}

.contato-info-container a:hover {
  opacity: 0.6;
}

.img-brand-carousel {
  max-width: 200px !important;
}

.title-container-home {
  padding-top: 8rem !important;
}

.chat-floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.chat-floating-button:hover {
  background-color: #005a9e;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    justify-content: center !important;
  }
  .navbar-logo {
    margin-left: 0 !important;
    width: 70% !important;
  }

  .navbar-brand {
    justify-content: center !important;
  }

  .navbar-content {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-right: 0 !important;
  }
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

  .video-container iframe {
    scale: 3.2;
  }

  .hero-section {
    height: 85vh;
  }

  .selo-gptw-container-home {
    height: 40% !important;
    width: 100% !important;
    align-items: end;
    justify-content: end;
    padding-bottom: 3rem !important;
  }

  .hero-title {
    font-size: 2.4rem;
    font-weight: 700 !important;
    margin-top: 3rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .hero-subtitle-container {
    align-items: start;
    flex-direction: column-reverse;
  }

  .title-container-home {
    padding: 1rem !important;
    height: 60% !important;
    display: flex !important;
    align-items: start !important;
    flex-direction: column !important;
    justify-content: end !important;
  }

  .hero-main-text {
    font-size: 2rem !important;
    font-weight: 400 !important;
  }

  .overlay {
    flex-direction: column !important;
  }

  .intro-home-col {
    padding: 3rem 1rem !important;
  }

  .intro-home-text {
    font-size: 1.05rem !important;
    margin-bottom: 1rem !important;
  }

  .carousel-container {
    padding: 20px;
  }

  .cases-swiper {
    width: 100%;
  }

  .carousel-text {
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
    left: 15px !important;
    bottom: -2px !important;
  }

  .btn-with-icon-animation {
    display: block;
    text-align: center;
    margin-top: 15px;
  }

  .mobile-hidden {
    display: none !important;
  }

  .wtmc-title {
    font-size: 2.4rem !important;
    padding-left: 1rem;
    padding-right: 0.5rem;
  }

  .wtmc-description {
    color: white !important;
    padding-left: 1rem;
    width: 100% !important;
    padding-right: 1rem !important;
  }

  .wtmc-card {
    width: 100% !important;
  }

  .wtmc-section {
    padding-bottom: 5rem !important;
    background-position: -500px bottom;
    background-size: auto;
  }
  .clients-home-title {
    font-size: 2.7rem !important;
  }

  .brand-carousel {
    padding: 20px;
  }

  .swiper-slide img {
    max-width: none !important;
    margin: 0 auto;
  }

  .btn-clients {
    font-size: 14px;
    padding: 8px 16px;
  }

  .img-brand-carousel {
    max-width: 280px !important;
  }

  .blog-title {
    font-size: 2.7rem !important;
  }

  .blog-home-title {
    min-height: 2rem;
    padding-bottom: 1rem;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 1.1rem;
    padding-right: 0.7rem;
  }

  .contato-home-title {
    font-size: 2.7rem !important;
  }

  .contact-option-title {
    font-weight: 500 !important;
    font-size: 1.1rem !important;
  }

  .contact-option-description {
    font-weight: 400;
    margin-bottom: 3rem;
    font-size: 1rem !important;
  }

  .toggle-navbar-btn {
    right: 1.5rem;
    padding-right: 0 !important;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: transform 0.2s ease;
  }

  .sidebar-content {
    width: 100%;
    height: 100vh;
  }

  .page-header-services {
    position: relative; /* Garante que o pseudo-elemento seja posicionado corretamente */
    padding: 2.5rem 0 !important;
    background-size: auto 100%;
  }

  .page-header-services::before {
    content: ""; /* Necessário para exibir o elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: 1; /* Garante que o overlay fique sobre a imagem */
  }

  .page-header-services * {
    position: relative; /* Garante que o conteúdo fique acima do overlay */
    z-index: 2;
  }

  .page-header-services h1 {
    font-size: 2rem !important;
    padding-left: 0.5rem !important;
  }

  .row-intro-container-services {
    flex-direction: column-reverse !important;
  }

  .intro-container-services-h1 {
    font-size: 2.1rem !important;
    margin-top: 1rem !important;
  }

  .projetar-contruir-section {
    padding-top: 0 !important;
  }

  .intro-container-services img {
    scale: 1.05;
    margin: 2rem 0 !important;
    margin-top: 1rem !important;
  }

  .project-services-container {
    padding: 1.5rem;
    width: 100%;
    border-radius: 0 !important;
    left: initial !important;
  }

  .project-services-container p {
    font-size: 1.1rem !important;
  }

  .project-services-container h1 {
    font-size: 2rem !important;
    padding-bottom: 0 !important;
  }

  .projetos-section {
    padding: 5rem 0rem;
  }

  .projetos-section .col-md-5 {
    padding: 0 !important;
    margin: 0 !important;
  }

  .desktop-hidden {
    display: initial;
  }

  .img-project-services-mobile {
    margin: 1rem 0 !important;
  }

  .destaques-section {
    background-image: none;
    height: auto !important;
    padding: 3rem 1rem !important;
  }

  .obras-section {
    padding: 3rem 0;
    background-position: -433px bottom;
    background-size: auto 186px;
    padding-bottom: 13rem;
  }

  .obras-section h1 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .obras-section p {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    line-height: 1.55;
    font-size: 17px !important;
    margin: 0 !important;
  }

  .img-obras-servicos {
    margin-bottom: 2rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .obras-section img {
    border-radius: 0 !important;
  }

  .planejamento-section {
    background-image: none;
    height: auto;
    padding: 6rem 1rem;
  }

  .page-header-client {
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 164% auto;
    padding: 2.5rem 0 !important;
  }

  .page-header-client h1 {
    font-size: 2.2rem !important;
  }

  .intro-page-client {
    padding-bottom: 0 !important ;
  }

  .intro-page-client p {
    text-align: center;
    padding: 0rem !important;
    padding-bottom: 3rem !important;
  }

  .intro-page-client img {
    width: 100% !important;
    height: auto !important;
  }

  .overflow-mobile-hidden {
    overflow: hidden;
  }

  .brand-client {
    object-position: center;
    object-fit: cover;
    transform: scale(1.5); /* Ajuste a escala conforme necessário */
  }
}

.desktop-hidden {
  display: none !important;
}
